.pokemon-detail {
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  background-size: cover;
  background-image: url(../../../public/image/normal.jpg);
  max-width: 40rem;
  position: fixed;
  top: 2.75rem;
  left: 5rem;
  @media screen and (max-width: 112.5rem) {
    left: 50%;
    transform: translateX(-50%);
  }
  grid-template-areas:
    "heaad"
    "body"
    "close";
  padding: 1rem;
  transition: all 0.3s ease-out;
  .detail-head {
    .detail-head-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .detail-body {
    grid-area: body;
    display: flex;
    align-items: center;
    @media screen and (max-width: 45rem) {
      justify-content: center;
      flex-wrap: wrap;
    }
    .detail-general {
      display: flex;
      flex-direction: column;
      width: 100%;
      .detail-physical {
        display: flex;
        background: rgba(255, 255, 255, 0.5);
        width: 90%;
        padding: 1rem;
        margin-bottom: 2rem;
        p {
          padding-right: 2rem;
        }
      }
    }
  }
  img {
    width: 50%;
    @media screen and (min-width: 45rem) {
      width: 45%;
      position: relative;
      top: -3rem;
    }
  }
  h1 {
    text-transform: capitalize;
    color: #fff;
  }
  h2 {
    color: #fff;
  }
  app-types {
    display: flex;
  }
  app-stat {
    background: rgba(255, 255, 255, 0.5);
    width: 90%;
    padding: 1rem;
  }
  .button-close {
    grid-area: close;
    display: flex;
    justify-content: end;
    margin-right: 0.3rem;
    @media screen and (max-width: 45rem) {
      margin-top: 1rem;
      margin-right: unset;
    }
    button {
      border: unset;
      padding: 1rem;
    }
  }

  &.fire {
    background-image: url(../../../public/image/fire.jpg);
  }

  &.grass {
    background-image: url(../../../public/image/plant.jpg);
  }

  &:where(.water, .ice) {
    background-image: url(../../../public/image/water.jpg);
  }

  &.bug {
    background-image: url(../../../public/image/bug.jpg);
  }

  &.poison {
    background-image: url(../../../public/image/poison.jpg);
  }

  &.electric {
    background-image: url(../../../public/image/electric.jpg);
  }

  &.ground {
    background-image: url(../../../public/image/ground.jpg);
  }

  &.fairy {
    background-image: url(../../../public/image/feary.jpg);
  }

  &.psychic {
    background-image: url(../../../public/image/psychic.jpg);
  }

  &.fighting {
    background-image: url(../../../public/image/fighting.jpg);
  }

  &.rock {
    background-image: url(../../../public/image/rock.jpg);
  }

  &.ghost {
    background-image: url(../../../public/image/ghots.jpg);
  }
}
