.list-pokemon {
  grid-template-areas:
    "search"
    "body"
    "pagination";
  background: url(../../../public/image/back-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 87.5rem;
  .list-search {
    grid-area: search;
    text-align: center;
    padding-top: .5rem;
  }

  .list-body {
    grid-area: body;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    .list-item {
      min-width: 20rem;
      background: #72a6cb;
      padding: 0.5rem 1rem;
    }
    .list-card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      align-items: center;
      border-radius: 0.5rem;
      transition: all 0.3s ease-out;
      .block-img {
        width: 100%;
        text-align-last: center;
      }
      .block-img {
        background-repeat: no-repeat;
        background-size: 8rem;
        background-blend-mode: color-burn;
      }
      label {
        text-transform: capitalize;
      }
      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-out;
      }
    }
  }

  .list-pagination {
    grid-area: pagination;
  }

  .list-card {
    &.fire {
      background: #ff6b1a;
      .block-img {
        background: #f06216
          url("../../../public/icon/Pokémon_Fire_Type_Icon.svg");
      }
      label {
        color: #fff;
      }
    }

    &.grass {
      background: #a8c15e;
      .block-img {
        background: #a1b85b
          url("../../../public/icon/Pokémon_Grass_Type_Icon.svg");
      }
      label {
        color: #fff;
      }
    }

    &.water {
      background: #00b3ad;
      .block-img {
        background: #00a6a0
          url("../../../public/icon/Pokémon_Water_Type_Icon.svg");
      }
      label {
        color: #fff;
      }
    }

    &.bug {
      background: #006663;
      .block-img {
        background: #01706c
          url("../../../public/icon/Pokémon_Bug_Type_Icon.svg");
      }
      label {
        color: #fff;
      }
    }

    &.normal {
      background: #acacac;
      .block-img {
        background: #c4c4c4
          url("../../../public/icon/Pokémon_Normal_Type_Icon.svg");
      }
      label {
        color: #fff;
      }
    }

    &.poison {
      background: #ba6fd1;
      .block-img {
        background: #b168c7
          url("../../../public/icon/Pokémon_Poison_Type_Icon.svg");
      }
      label {
        color: #fff;
      }
    }

    &.electric {
      background: #ffec5c;
      .block-img {
        background: #e7d552
          url("../../../public/icon/Pokémon_Electric_Type_Icon.svg");
      }
    }

    &.ground {
      background: #662400;
      .block-img {
        background: #852f00
          url("../../../public/icon/Pokémon_Ground_Type_Icon.svg");
      }
      label {
        color: #fff;
      }
    }

    &.fairy {
      background: #e27bd4;
      .block-img {
        background: #fb8aec
          url("../../../public/icon/Pokémon_Fairy_Type_Icon.svg");
      }
      label {
        color: #fff;
      }
    }

    &.psychic {
      background: #dd5966;
      .block-img {
        background: #ff6676
          url("../../../public/icon/Pokémon_Poison_Type_Icon.svg");
      }
      label {
        color: #fff;
      }
    }

    &.fighting {
      background: #c54500;
      .block-img {
        background: #b13e00
          url("../../../public/icon/Pokémon_Fighting_Type_Icon.svg");
      }
      label {
        color: #fff;
      }
    }

    &.rock {
      background: #ad9e75;
      .block-img {
        background: #c9b787
          url("../../../public/icon/Pokémon_Ghost_Type_Icon.svg");
      }
      label {
        color: #fff;
      }
    }

    &.ghost {
      background: #4460a3;
      .block-img {
        background: #4b6ab4
          url("../../../public/icon/Pokémon_Ghost_Type_Icon.svg");
      }
      label {
        color: #fff;
      }
    }
  }
}
