<div class="list-pokemon">
    <div class="list-search">
        <input type="text" [(ngModel)]="filter" (ngModelChange)="onFilter($event)">
    </div>
    <div class="list-body">
        <div class="list-item" *ngFor="let pokemon of pokemonsFiltered || pokemons; let i = index" [attr.data-index]="i">
            <div class="list-card {{getFirstType(pokemon)}}" (click)="onSelect(pokemon)">
                <label>N°0{{i+1}} {{pokemon.name}}</label>
                <div class="block-img">
                    <img src="{{pokemon?.sprites?.front_default}}">
                </div>
            </div>
        </div>
    </div>
    <div class="list-pagination"></div>
    <app-detail [pokemon]="pokemonSelected"></app-detail>
</div>